@using GimcheonLibrary.DataAccess.Models
@model IEnumerable<GimcheonLibrary.DataAccess.Models.Book>

@{
    ViewData["Title"] = "Details";
}

<h1>@*@Html.DisplayFor(model => model.Name)*@</h1>

<div>
    @*<hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
    <h6>List of books to follow...</h6>*@

    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor( book => book.Title)
                </th>

             </tr>

            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@book.Author">@Html.DisplayFor(modelItem => book.Title)</a>
                    </td>
                </tr>
            }
        </table>
</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Book.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
